



#completeTittle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 20px;
    gap: 20px;
}



#icons {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 30px;

}

#createAccount {
 margin: 30px;
}



#iniciar {

    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 30px;
}

#cartas {
    display: flex;
    justify-content: center;
    padding: 40px;

}

#buscador {
    display: flex;
    justify-content: center;
    padding: 15px;
    gap: 5px;
}

.mainSection {
    background: rgb(190,185,230);
    background: linear-gradient(174deg, rgba(190,185,230,1) 0%, rgba(245,226,255,1) 100%);
}

.inputs {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
  gap: 10px;
  
}

.mainComponent {
    padding: 0px 50px;
}

.table-container {
    border: 1px solid rgb(221 221 221);
    border-radius: 10px;
    padding: 10px;
}


#buttons {

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    margin: 75px;
    gap:10px;

    
} 



#categoria {
    border-radius: 10px;
}


#opCarrito {
    display: flex;
    flex-direction: column;
}

#avatar{
    display: flex;
    flex-direction: column;
}

#header {
display: flex;
flex-direction: row;
justify-content: flex-end;
margin-top: 0px;


}

.textIcons {
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.footerTittle {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}   

.completeFooter {

    background: rgb(190,185,230);
    background: linear-gradient(174deg, rgba(190,185,230,1) 0%, rgba(245,226,255,1) 100%);

}

#nombreUsuario {
    display: none;
}

#logOut {
    display: none;
}

